body {
    padding: 0;
    margin: 0;
}

#main div {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 5vh;
    border-style: solid;
    border-color: white;
    transition: 100ms;
}

#main div:active {
    transform: scale(0.8);
}

#main div:nth-child(odd) {
    float: right;
}

#opt1 { background-color: #1068CE; border-width: 2vh 2vh 1vh 1vh }
#opt2 { background-color: #E21D3C; border-width: 2vh 1vh 1vh 2vh }
#opt3 { background-color: #27890A; border-width: 1vh 2vh 2vh 1vh }
#opt4 { background-color: #D99E01; border-width: 1vh 1vh 2vh 2vh }

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 20px white);
    pointer-events: none;
    transition: 1s;
    width: 200px;
}

#correctnessIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    background-color: #0f0;
}

.wrong {
    background-color: #f00 !important;
}

.show {
    opacity: 1 !important;
}