div.Finish {
  color: var(--light);
  text-align: center;
  font-size: 24px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 90%;

  h1 {
    margin: 0 0 16px 0;
    font-size: 128px;
  }

  div {
    position: absolute !important;
    top: 50%;
    left: 50%;
  }
}