div.PlayerLobby {
  position: relative;
  color: var(--light);
  text-align: center;
  font-size: 24px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 90%;

  h1 {
    margin-top: 0;
    font-size: 40px;
  }
}