div.Result {
  position: relative;
  color: var(--light);
  text-align: center;
  font-size: 24px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 90%;

  h1 {
    margin: 0;
    font-size: 40px;
  }

  img {
    display: block;
    margin: 36px auto;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    width: 128px;
  }

  strong {
    font-weight: 600;
  }

  span {
    font-weight: 200;
    font-size: 20px;
  }

  div {
    width: 350px;
    max-width: 90vw;
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 16px auto;
  }
}